--- 
layout: default
---
<div class="container main">
  <div class="row">
    <header>
      <div>
        <center>
          <h1>{{ site.title }}</h1>
        </center>
      </div>
      <center>
        <span class="big-ornament">
          <img src="https://github.com/kohillyang/personal-blog/blob/master/logo.png?raw=true" style="width:10%">
        </span>
      </center>
    </header>
  </div>
  <div class="container main">
    <center>
      <h2>精选文章</h2>
    </center>
    <div class="row" style="padding-left:50px">
      <a href="http://notes.kohill.cn/2017-02-20/Aria2Client-A-simple-Client-run-on-windows-for-Aria2.html">Aria2Client</a>
      <br>
      <a href="http://notes.kohill.cn/2017-01-11/SmartCarCameraRead.html">SmardCarCameraRead</a>
      <br>
      <a href="http://notes.kohill.cn/2018-01-14/docker.html">Notes of docker</a>
      <br>
      <a href="http://notes.kohill.cn/linux">Notes of Linux</a>
      <br>
      <a href="http://notes.kohill.cn/notes_openwrt">Notes of Openwrt</a>
      <br>
      <a href="http://notes.kohill.cn/2018-01-14/model_conversion.html">Model conversion in deep learning.</a>
      <br>
      <a href="http://notes.kohill.cn/2017-01-09/Set-IPV6-on-OpenWrt-with-NAT6.html">Set IPV6 on OpenWrt with NAT6</a>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 offset-md-1">
    <table border="1" class = "table-responsive"
      {% assign categories = site.categories | sort %}
      {% for category in categories %}
        <tr>
          <th style = "vertical-align: middle">{{category.first}}
          <th>date
        </tr>
        {% for posts in category %}
           {% for post in posts %}
            <tr>
            <td><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</td><td noWrap>{{post.date | date: '%b %d, %Y'}}</td></a>
            {% if forloop.last == false %}{% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
      {% endfor %}
    </table>
    </div>
  </div> -->
</div>